
{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>{{object.r_name}}</h1>
    <ul style="list-style-type:none;">
        <li>category - {{object.category}}</li>
        <li>city - {{object.city_name}}</li>
        <li>average rating - {{object.avg_rating}}</li>
        <li>description - {{object.description}}</li>
        <li>address - {{object.r_address}}</li>
        <li>price level - {{object.price_level}}</li>
    </ul>

    <form method="POST"> 
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type='submit' value='comment'>
    </form>
</div>
{% endblock %}