{% extends "base.html" %}
{% block content %}


<div class="container">
  <h1>Start Plan your trip!</h1>

  <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Choose Your Destination
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
          <li><a href="#">Austin</a></li>
          <li><a href="#">Boston</a></li>
          <li><a href="#">Chicago</a></li>
          <li><a href="#">New York</a></li>
          <li><a href="#">Portland</a></li>
      </ul>
  </div>


    <h2>Start your journey</h2>

    <div class="row">
      <div class="col-lg-4 col-xs-12 thumbnail "><img src="https://images.squarespace-cdn.com/content/v1/53b839afe4b07ea978436183/1608506169128-S6KYNEV61LEP5MS1UIH4/traditional-food-around-the-world-Travlinmad.jpg" alt=""><p style="text-align:center">Food</p></div>
      <div class="col-lg-4 col-xs-12 thumbnail "><img src="https://cdn.britannica.com/96/115096-050-5AFDAF5D/Bellagio-Hotel-Casino-Las-Vegas.jpg" alt=""><p style="text-align:center">Hotel</p></div>
      <div class="col-lg-4 col-xs-12 thumbnail "><img src="https://www.telegraph.co.uk/content/dam/Travel/Destinations/North%20America/USA/Las%20Vegas/las-vegas-lead-image-xlarge.jpg?imwidth=640" alt=""><p style="text-align:center">Fun</p></div>
    </div>



</div>
{% endblock %}
