#navbar{
  background-color: #33CCFF;
  color: white;
}

h1{
  color: blue;
}

h2{
  color: green;
}

.jumbotron{
    text-align:center;
}

.col-lg-4 col-xs-12 thumbnail.img {
  width: 200px; /* You can set the dimensions to whatever you want */
  height: 200px;
  object-fit: cover;
}

th{
  text-align:center; 
}