{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <!-- Delete the Account -->
    <div>
        <h1>Are You Sure You Want to Delete The Account?</h1>
        <div>
            <form method="POST">
                {% csrf_token %}
                <input name="submit" type="submit" value="Delete My Account">
                <input name="submit" type="submit" value="Let me reconsider it...">
            </form>
        </div>
    </div>
</div>

{% endblock %}